<h1>Hi, let's Oauth</h1>

<%= link_to('Authorize', authorization_url) %>
<%= link_to('Refresh', refresh_url) %>

<% #<iframe src="https://crm-staging-pr-8563.herokuapp.com/" height=1000 width=1000></iframe> %>
